{% extends "learning_logs/base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't mach. Please try again.</p>
{% endif %}

<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">Log In</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}">
</form>

{% endblock content %}

<!-- 
    Observe que um template em uma aplicação é capaz de estender um template de
    outra aplicação.
    
    Se o atriuto 'errors' do formulário estiver definido, exibiremos uma mensagem
    de erro.

    Incluímos um elemento oculto no formulário, 'next'; o argumento 'value' diz a
    Django para onde o usuário deve ser redirecionado depois que tiver feito login
    com sucesso.
-->