{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Log in to your account.</h2>
{% endblock %}

{% block content %}
    
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
    
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>
    
{% endblock content %}

<!-- 
    Observe que um template em uma aplicação é capaz de estender um template de
    outra aplicação.
    
    Se o atriuto 'errors' do formulário estiver definido, exibiremos uma mensagem
    de erro.

    Incluímos um elemento oculto no formulário, 'next'; o argumento 'value' diz a
    Django para onde o usuário deve ser redirecionado depois que tiver feito login
    com sucesso.
-->