{% extends "learning_logs/base.html" %}

{% block content %}
<h3>Learning Log hels you keep track of your learning, for any topic you're learning about. </h3>
{% endblock content %}


<!-- 
    Um template-filho deve ter uma tag 'extends' na primeira linha para dizer
    a Django de qual template-pai ele deve herdar.
    Essa linha extrai tudo que está contido no template 'base.html' e permite que
    'index.html' defina o que deve ser colocado no espaço reservado pelo bloco
    'content'.

    Tudo o que não herdamos do template-pai será colocado em um bloco 'content'.
-->