{% extends "learning_logs/base.html" %}

{% block header %}
  <div class='jumbotron'>
      <h1>Track your learning.</h1>        
  </div>
{% endblock %}

{% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make
     your own Learning Log, and list the topics you're learning about.
  </h2>
  <h2>
    Whenever you learn something new about a topic, make an entry 
    summarizing what you've learned.
  </h2>
{% endblock %}


<!-- 
    Um template-filho deve ter uma tag 'extends' na primeira linha para dizer
    a Django de qual template-pai ele deve herdar.
    Essa linha extrai tudo que está contido no template 'base.html' e permite que
    'index.html' defina o que deve ser colocado no espaço reservado pelo bloco
    'content'.

    Tudo o que não herdamos do template-pai será colocado em um bloco 'content'.
-->